.header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.logoContainer {
    display: flex;
}

.nav {
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu li {
    padding-right: 24px;
}

.link {
    text-decoration: none;
    color: var(--primary-text);
}

.headerPanel {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: flex-end;
}

.menuPanelLinks {
    list-style: none;
}

.menuPanelLinks li {
    padding:  var(--padding-medium) 0;
}

.menuPanelLinks a {
    color: white;
    font-size: var(--fs-medium);
    text-decoration: none;
}

.menuButton {
    border: none;
    background-color: transparent;
    outline: none;
    display: none;
    cursor: pointer;
    padding: 0;
}

@media (max-width: 700px) {
    /* .header {
        justify-content: space-between;
        padding: 0 16px;
    }

    .menuNavigation {
        display: none;
    } */

    .menuButton {
        display: block;
    }
}