.button {
    border: 1px solid var(  --primary-text);
    background-color: transparent;
    padding: 6px 24px;
    border-radius: 4px;
    color: var(--primary-text);
    font-size: var( --fs-small);
    font-weight: var(--fw-regular);
}