.heroSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 100px;
}

.h1 {
    text-align: center;
}

.heroText {
    font-style: italic;
    font-weight: var(--fw-bold);
}

.heroTextHightlight {
    color: var(--primary);
}

.slogan {
    margin: 60px 16px 24px 16px;
    max-width: 700px;
    text-align: center;
    font-size: clamp(14px, 3.5vw, var(--fs-medium));
}