.wrapper {
    background-color: var(--secondary-background);
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.32);
    display: flex;
    flex-direction: row;
}


.imageSection {
    width: 300px;
    height: 180px;
    position: relative;
}

.imageSection img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.contentSection {
    padding: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name {
    font-weight: var(--fw-medium);
    font-size: var(--fs-medium);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description {
    font-weight: var(--fw-regular);
    font-size: var(--fs-small);
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.links {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    flex-grow: 2;
    align-items: flex-end;
    margin-top: 12px;
}

.links a {
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    .imageSection {
        width: 100%;
        height: 180px;
    }

    .wrapper {
        display: flex;
        height: inherit;
        flex-direction: column;
    }
}
