:root {
  --primary: #F06817;
  --secondary: #21201F;

  --primary-background: #21201F;
  --secondary-background: #121111;
  --third-background: #312E2E;

  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Source Code Pro", sans-serif;

  --primary-text: white;
  --secondary-text: #E0E0E0;

  --caption-font: 12px;
  --fs-small: 14px;
  --fs-regular: 16px;
  --fs-medium: 20px;
  --fs-large: 24px;
  --fs-xlarge: 48px;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --header-height: 64px;
}

/**
Reset CSS
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: var(--ff-primary);
  background-color: var(--primary-background);
}

body {
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/**
* User has dark them set on their device
*/
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: var(--primary-background);
  }

  body {
    color: white;
    background:  var(--primary-background);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
  }
}

/**
* My Custom Styles
**/
h1 {
  font-size: var(--fs-xlarge);
}

h2 {
  font-size: var(--fs-large);
  margin-bottom: 16px;
}

h3 {
  font-size: var(--fs-medium);
  margin-bottom: 10px;
}