.main {
  padding: 40px 0;
}

.skillContainer {
  margin-bottom: 16px;
}

.skillHeader {
  color: var(--primary);
  font-size: 20px;
  font-weight: var(--fw-semi-medium);
}

.contactSection {
  width: 100%; 
  display: flex;  
  justify-content: center;
  margin-bottom: 60px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
  row-gap: 30px;
  text-align: center;
}

.contactHeader {
  color: var(--primary);
}

.h2 {
  color: var(--primary);
}

@media (max-width: 600px) {
  .main {
    padding: 40px 16px;
  }
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
