a.button {
  border: 1px solid var(--primary-text);
  background-color: transparent;
  padding: 6px 24px;
  border-radius: 4px;
  color: var(--primary-text);
  font-size: var( --fs-small);
  font-weight: var(--fw-regular);
  text-decoration: none;
}

a.button:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  text-decoration: underline;
}

a.buttonSolid {
  border: 1px solid var(--primary-border);
  background-color: var(--primary);
  padding: 6px 24px;
  border-radius: 4px;
  color: white;
  font-size: var( --fs-small);
  font-weight: var(--fw-regular);
  text-decoration: none;
}

a.buttonSolid:hover {
  color: var(--primary-background);
  font-weight: var(--fw-medium);
  text-decoration: underline;
}

a.back {
  font-size: 18px;
  text-decoration: none;
  color: var(--primary-text);
  display: block;
  margin-bottom: 24px;
}

a.back:hover {
  color: var(--primary);
  text-decoration: underline;
}

.paragraph {
  margin-bottom: 16px;
  line-height: 30px;
}

.topSection {
  width: 100%;
  height: auto;
  position: relative;
}

.headerPageTitle {
  font-weight: var(--fw-semi-medium);
  color: var(--primary);
  margin-bottom: 10px;
  font-size: var(--fs-large);
}

.headerPageSlogan {
  font-weight: var(--fw-regular);
  font-size: clamp(12px, 3.5vw, var(--fs-regular));
}

.blogItem {
  color: white;
  text-decoration: none;
}