a.button {
  border: 1px solid var(--primary-text);
  background-color: transparent;
  padding: 6px 24px;
  border-radius: 4px;
  color: var(--primary-text);
  font-size: var( --fs-small);
  font-weight: var(--fw-regular);
  text-decoration: none;
}

a.button:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  text-decoration: underline;
}

.paragraph {
  margin-bottom: 16px;
  line-height: 30px;
}

.topSection {
  background-color: var(--secondary-background);
  width: 100%;
  height: auto;
  position: relative;
}

.headerPageSection { 
  padding: 80px 0 50px 0;
}

@media (max-width: 600px) {
  .headerPageSection { 
    padding: 60px 16px;
  }
}

.headerPageTitle {
  font-weight: var(--fw-semi-medium);
  color: var(--primary);
  margin-bottom: 10px;
  font-size: var(--fs-large);
}

.headerPageSlogan {
  font-weight: var(--fw-regular);
  font-size: clamp(12px, 3.5vw, var(--fs-regular));
}