a.button {
  border: 1px solid var(--primary-text);
  background-color: transparent;
  padding: 6px 24px;
  border-radius: 4px;
  color: var(--primary-text);
  font-size: var( --fs-small);
  font-weight: var(--fw-regular);
  text-decoration: none;
}

a.button:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  text-decoration: underline;
}

.paragraph {
  margin-bottom: 16px;
  line-height: 30px;
}

.topSection {
  background-color: var(--secondary-background);
  width: 100%;
  height: auto;
}

.headerPageSection { 
  padding: 40px 0;
}

@media (max-width: 600px) {
  .headerPageSection { 
    padding: 40px 16px;
  }
}

.headerPageTitle {
  font-style: italic;
  font-weight: var(--fw-bold);
  color: var(--primary);
  font-size: clamp(36px, 5vw, var(--fs-xlarge));
}